<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<div th:fragment="menu">
    <div class="row">
        <div class="col-md-6">
            <div class="head">
                <span class="title-table">トップページメインメニュー</span>
            </div>
            <p style="border: solid 1px #000; text-align: center; color:#2535f7 ">スタンバイ</p>
            <div class="list-new-menu row" id="list_new_menu_deactivate">
                <div class="col-md-4 no-padding new-menu new-menu-deactivate "
                     th:each="function,ite : ${parentMenus}"
                     th:id="'menu-' + ${function.id}">
                    <div class="content-new-menu">
                        <div style="margin-left: 2px; text-align: left">
								<span th:if="${function.iconUrlUpdated} != null"
                                      class="type-function-name" th:text="${function.function}"></span>
                        </div>
                        <img th:if="${function.iconUrlUpdated} != null"
                             class="image-new-menu" th:src="${function.iconUrlUpdated}"
                             data-toggle="tooltip" data-placement="top"
                             th:title="${function.function}"/>
                        <div class="text-new-menu">
                            <div>
                                <span class="function-name" th:text="${function.nameUpdated}"></span>
                            </div>
                            <div>
									<span>・IOSメニュー設定 :
										<br>
										<span class="version" th:text="${function.versionIosUpdated}"></span>
										〜
										<span class="version" th:text="${function.versionIosMaxUpdated}"></span>
									</span>
                            </div>
                            <div>
									<span>・Androidメニュー設定 :
										<br>
										<span class="version" th:text="${function.versionAndroidUpdated}"></span>
										〜
										<span class="version" th:text="${function.versionAndroidMaxUpdated}"></span>
									</span>
                            </div>
                        </div>

                    </div>
                    <div class="action-new-menu">
                        <i class="fa fa-pencil-square-o detail" data-toggle="modal"
                           data-target="#modal_add_menu"></i>
                    </div>
                </div>
            </div>
            <button class="btn btn-sm btn-primary add-item"
                    th:if="${isSysAdmin}" data-toggle="modal"
                    data-target="#modal_add_menu" menu-type="PARENT_MENU"
                    th:text="#{system.menu.add}"></button>
        </div>
        <div class="col-md-6">
            <p style="border: solid 1px #000; text-align: center; margin-top: 36px; color: red;">
                アクティブ ( IOS<span class="latest_version_ios"></span> ー Android<span
                    class="latest_version_android"></span> )
            </p>
            <div class="list-row-menu-active">
                <div class="list-new-menu row"
                     th:each="mapElement,ite : ${mapOrderParentMenu}"
                     th:id="row_menu_active + ${mapElement.key}">
                    <div class="no-padding new-menu new-menu-deactivate"
                         th:each="function,ite : ${mapElement.value}"
                         th:with="size=${#lists.size(mapElement.value)}"
                         th:style="'width:'+ ${100.0/size} +'%'"
                         th:id="'menu-' + ${function.id}">
                        <div class="content-new-menu">
                            <div style="margin-left: 2px; text-align: left">
									<span th:if="${function.iconUrlUpdated} != null"
                                          class="type-function-name" th:text="${function.function}"></span>
                            </div>
                            <img th:if="${function.iconUrlUpdated} != null"
                                 class="image-new-menu" th:src="${function.iconUrlUpdated}"
                                 data-toggle="tooltip" data-placement="top"
                                 th:title="${function.function}"/>
                            <div class="text-new-menu">
                                <div>
                                    <span class="function-name" th:text="${function.nameUpdated}"></span>
                                </div>
                                <div>
                                    ・IOSメニュー設定 :
                                    <br>
                                    <span class="version" th:text="${function.versionIosUpdated}"></span>
                                    〜
                                    <span class="version" th:text="${function.versionIosMaxUpdated}"></span>
                                </div>
                                <div>
										<span>・Androidメニュー設定 :
											<br>
											<span class="version" th:text="${function.versionAndroidUpdated}"></span>
											〜
											<span class="version" th:text="${function.versionAndroidMaxUpdated}"></span>
										</span>
                                </div>
                            </div>
                        </div>
                        <div class="action-new-menu">
                            <i class="fa fa-pencil-square-o detail" data-toggle="modal"
                               data-target="#modal_add_menu"></i>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-sm btn-primary add-item" id="add-div"
                    th:if="${isSysAdmin}" th:text="#{add.row}">Add new div
            </button>
        </div>
    </div>

    <div class="row" style="padding-top: 15px">
        <div class="col-md-6 clearfix">
            <div class="head">
                <span class="title-table">右開きサブメニュー</span>
            </div>
            <table class="table-content" width="100%" id="list_submenu">
                <tr height="45">
                    <th width="20%" th:text="#{system.menu}">Function</th>
                    <th width="20%" th:text="#{system.menu.type}">Type</th>
                    <th width="20%">IOSメニュー設定</th>
                    <th width="20%">Androidメニュー設定</th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                </tr>
                <tr th:each="function,ite : ${subMenus}"
                    th:id="'menu-' + ${function.id}" height="45" class="line">
                    <td class="name">
                        <div class="contain-image">
                            <img th:if="${function.iconUrlUpdated} != null" class="image-function"
                                 th:src="${function.iconUrlUpdated}"/>
                        </div>
                        <span
                                style="padding-top: 5px; margin-left: 5px; max-width: 200px; overflow: hidden"
                                th:text="${function.nameUpdated}"></span>
                    </td>
                    <td class="type">
                        <div>
                            <span th:text="${function.function}"></span>
                        </div>
                    </td>

                    <td class="td-version-ios">
                        <div>
                            <span class="version" th:text="${function.versionIosUpdated}"></span>
                            〜
                            <span class="version" th:text="${function.versionIosMaxUpdated}"></span>
                        </div>
                    </td>
                    <td class="td-version-android">
                        <div>
                            <span class="version" th:text="${function.versionAndroidUpdated}"></span>
                            〜
                            <span class="version" th:text="${function.versionAndroidMaxUpdated}"></span>
                        </div>
                    </td>

                    <td style="text-align: center;"><i
                            class="fa fa-pencil-square-o detail" data-toggle="modal"
                            data-target="#modal_add_menu"></i></td>
                    <td style="text-align: center;"><i
                            class="fa fa-arrow-right add-submenu"></i></td>


                </tr>
            </table>
            <button class="btn btn-sm btn-primary add-item"
                    th:if="${isSysAdmin}" data-toggle="modal"
                    data-target="#modal_add_menu" menu-type="SUBMENU"
                    th:text="#{system.menu.add}"></button>
        </div>
        <div class="col-md-6">
            <div class="tabbable" style="margin-top: 37px">
                <table class="table-content" id="result_submenu" width="100%">
                    <tbody class="table-sortable-submenu">
                    <tr height="45">
                        <th width="15%" th:text="#{system.menu.order}"></th>
                        <th width="20%" th:text="#{system.menu}">Display app</th>
                        <th width="20%" th:text="#{system.menu.type}">Type</th>
                        <th width="20%">IOSメニュー設定</th>
                        <th width="20%">Androidメニュー設定</th>
                        <th width="5%">#</th>
                    </tr>
                    <tr th:each="function,ite : ${orderSubMenu}" height="45"
                        class="line" th:id="'menu-' + ${function.id}">
                        <td><i class="fa fa-arrows-v fa-lg arrow"></i></td>
                        <td class="name">
                            <div class="contain-image">
                                <img th:if="${function.iconUrlUpdated} != null" class="image-function"
                                     th:src="${function.iconUrlUpdated}"/>
                            </div>
                            <span
                                    style="padding-top: 5px; margin-left: 5px; max-width: 200px; overflow: hidden"
                                    th:text="${function.nameUpdated}"></span>
                        </td>
                        <td class="type">
                            <div>
                                <span th:text="${function.function}"></span>
                            </div>
                        </td>
                        <td class="td-version-ios">
                            <div>
                                <span class="version" th:text="${function.versionIosUpdated}"></span>
                                〜
                                <span class="version" th:text="${function.versionIosMaxUpdated}"></span>
                            </div>
                        </td>
                        <td  class="td-version-android">
                            <div>
                                <span class="version" th:text="${function.versionAndroidUpdated}"></span>
                                〜
                                <span class="version" th:text="${function.versionAndroidMaxUpdated}"></span>
                            </div>
                        </td>
                        <td
                                style="text-align: center;"><i
                                class="fa fa-arrow-left back-submenu"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="row" style="padding-top: 15px; margin-bottom: 50px">
        <div class="col-md-6 clearfix">
            <div class="head" style="padding-bottom: 13px;">
                <span class="title-table">下部固定メニュー</span>
            </div>
            <table class="table-content" width="100%" id="list_bottom_menu">
                <tr height="45">
                    <th width="20%" th:text="#{system.menu}">Function</th>
                    <th width="20%" th:text="#{system.menu.type}">Type</th>
                    <th width="20%">IOSメニュー設定</th>
                    <th width="20%">Androidメニュー設定</th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                </tr>
                <tr th:each="function,ite : ${bottomMenus}"
                    th:id="'menu-' + ${function.id}" height="45" class="line">
                    <td class="name">
                        <div class="contain-image">
                            <img th:if="${function.iconUrlUpdated} != null" class="image-function"
                                 th:src="${function.iconUrlUpdated}"/>
                        </div>
                        <span
                                style="padding-top: 5px; margin-left: 5px; max-width: 200px; overflow: hidden"
                                th:text="${function.nameUpdated}"></span>
                    </td>
                    <td  class="type">
                        <div>
                            <span th:text="${function.function}"></span>
                        </div>
                    </td>

                    <td  class="td-version-ios">
                        <div>
                            <span class="version" th:text="${function.versionIosUpdated}"></span>
                            〜
                            <span class="version" th:text="${function.versionIosMaxUpdated}"></span>
                        </div>
                    </td>
                    <td  class="td-version-android">
                        <div>
                            <span class="version" th:text="${function.versionAndroidUpdated}"></span>
                            〜
                            <span class="version" th:text="${function.versionAndroidMaxUpdated}"></span>
                        </div>
                    </td>

                    <td style="text-align: center;"><i
                            class="fa fa-pencil-square-o detail" data-toggle="modal"
                            data-target="#modal_add_menu"></i></td>
                    <td style="text-align: center;"><i
                            class="fa fa-arrow-right add-bottom-menu"></i></td>

                </tr>
            </table>
            <button class="btn btn-sm btn-primary add-item"
                    th:if="${isSysAdmin}" data-toggle="modal"
                    data-target="#modal_add_menu" menu-type="BOTTOM_MENU"
                    th:text="#{system.menu.add}"></button>
        </div>
        <div class="col-md-6">
            <div class="head" style="padding-bottom: 13px;">
                <span class="title-table" style="margin-right: 15px;">下部固定メニューアクティブ状態</span>
                <span style="position: relative;"> <label class="switch">
							<input type="checkbox" id="is_show_bottom_menu"
                                   th:attr="checked=${isShowBottomMenu ? 'checked' : null}">
							<span class="slider round"></span>
					</label>
					</span>

            </div>
            <div class="tabbable">
                <table class="table-content" id="result_bottom_menu" width="100%">
                    <tbody class="table-sortable-bottom-menu">
                    <tr height="45">
                        <th width="15%" th:text="#{system.menu.order}"></th>
                        <th width="20%" th:text="#{system.menu}">Display app</th>
                        <th width="20%" th:text="#{system.menu.type}">Type</th>
                        <th width="20%">IOSメニュー設定</th>
                        <th width="20%">Anroidメニュー設定</th>
                        <th width="5%">#</th>
                    </tr>
                    <tr th:each="function,ite : ${orderBottomMenu}" height="45"
                        class="line" th:id="'menu-' + ${function.id}">
                        <td><i class="fa fa-arrows-v fa-lg arrow"></i></td>
                        <td class="name">
                            <div class="contain-image">
                                <img th:if="${function.iconUrlUpdated} != null" class="image-function"
                                     th:src="${function.iconUrlUpdated}"/>
                            </div>
                            <span
                                    style="padding-top: 5px; margin-left: 5px; max-width: 200px; overflow: hidden"
                                    th:text="${function.nameUpdated}"></span>
                        </td>
                        <td  class="type">
                            <div>
                                <span th:text="${function.function}"></span>
                            </div>
                        </td>
                        <td class="td-version-ios">
                            <div>
                                <span class="version" th:text="${function.versionIosUpdated}"></span>
                                〜
                                <span class="version" th:text="${function.versionIosMaxUpdated}"></span>
                            </div>
                        </td>
                        <td class="td-version-android">
                            <div>
                                <span class="version" th:text="${function.versionAndroidUpdated}"></span>
                                〜
                                <span class="version" th:text="${function.versionAndroidMaxUpdated}"></span>
                            </div>
                        </td>
                        <td
                                style="text-align: center;"><i
                                class="fa fa-arrow-left back-bottom-menu"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- head menu -->
    <div class="row" style="padding-top: 15px; margin-bottom: 100px">
        <div class="col-md-6 clearfix">
            <div class="head">
                <span class="title-table" th:text="#{system.menu.list.headMenu}"></span>
            </div>

            <table class="table-content" width="100%" id="list_head_menu">
                <tr height="45">
                    <th width="20%" th:text="#{system.menu}">Function</th>
                    <th width="20%" th:text="#{system.menu.type}">Type</th>
                    <th width="20%">IOSメニュー設定</th>
                    <th width="20%">Androidメニュー設定</th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                </tr>
                <tr th:each="function,ite : ${headMenus}"
                    th:id="'menu-' + ${function.id}" height="45" class="line">
                    <td class="name">
                        <div class="contain-image">
                            <img th:if="${function.iconUrlUpdated} != null" class="image-function"
                                 th:src="${function.iconUrlUpdated}"/>
                        </div>
                        <span
                                style="padding-top: 5px; margin-left: 5px; max-width: 200px; overflow: hidden"
                                th:text="${function.nameUpdated}"></span>
                    </td>
                    <td  class="type">
                        <div>
                            <span th:text="${function.function}"></span>
                        </div>
                    </td>

                    <td  class="td-version-ios">
                        <div>
                            <span class="version" th:text="${function.versionIosUpdated}"></span>
                            〜
                            <span class="version" th:text="${function.versionIosMaxUpdated}"></span>
                        </div>
                    </td>
                    <td  class="td-version-android">
                        <div>
                            <span class="version" th:text="${function.versionAndroidUpdated}"></span>
                            〜
                            <span class="version" th:text="${function.versionAndroidMaxUpdated}"></span>
                        </div>
                    </td>

                    <td style="text-align: center;"><i
                            class="fa fa-pencil-square-o detail" data-toggle="modal"
                            data-target="#modal_add_menu"></i></td>
                    <td style="text-align: center;"><i
                            class="fa fa-arrow-right add-head-menu"></i></td>

                </tr>
            </table>

            <button class="btn btn-sm btn-primary add-item"
                    th:if="${isSysAdmin}" style="margin-bottom: 100px;"
                    data-toggle="modal" data-target="#modal_add_menu"
                    menu-type="HEAD_MENU" th:text="#{system.menu.add}"></button>
        </div>
        <div class="col-md-6">
            <div class="tabbable" style="margin-top: 37px">
                <table class="table-content" id="result_head_menu" width="100%">
                    <tbody class="table-sortable-bottom-menu">
                    <tr height="45">
                        <th width="15%" th:text="#{system.menu.order}"></th>
                        <th width="20%" th:text="#{system.menu}">Display app</th>
                        <th width="20%" th:text="#{system.menu.type}">Type</th>
                        <th width="20%">IOSメニュー設定</th>
                        <th width="20%">Anroidメニュー設定</th>
                        <th width="5%">#</th>
                    </tr>
                    <tr th:each="function,ite : ${orderHeadMenu}" height="45"
                        class="line" th:id="'menu-' + ${function.id}">
                        <td><i class="fa fa-arrows-v fa-lg arrow"></i></td>
                        <td class="name">
                            <div class="contain-image">
                                <img th:if="${function.iconUrlUpdated} != null" class="image-function"
                                     th:src="${function.iconUrlUpdated}"/>
                            </div>
                            <span
                                    style="padding-top: 5px; margin-left: 5px; max-width: 200px; overflow: hidden"
                                    th:text="${function.nameUpdated}"></span>
                        </td>
                        <td  class="type">
                            <div>
                                <span th:text="${function.function}"></span>
                            </div>
                        </td>
                        <td class="td-version-ios">
                            <div>
                                <span class="version" th:text="${function.versionIosUpdated}"></span>
                                〜
                                <span class="version" th:text="${function.versionIosMaxUpdated}"></span>
                            </div>
                        </td>
                        <td class="td-version-android">
                            <div>
                                <span class="version" th:text="${function.versionAndroidUpdated}"></span>
                                〜
                                <span class="version" th:text="${function.versionAndroidMaxUpdated}"></span>
                            </div>
                        </td>
                        <td
                                style="text-align: center;"><i
                                class="fa fa-arrow-left back-head-menu"></i></td>
                    </tr>
                    </tbody>
                </table>

            </div>



            <!--             <button type="button" class="btn btn-sm btn-primary btn-submit-add"
                            style="width: 100%;margin-top:20px;margin-bottom:100px;" id="btn_submit_order"
                            th:text="#{system.menu.order.saveAndBuildCache}"> SAVE ORDER
                    </button> -->
        </div>
    </div>
    <!-- end head menu -->

    <div class="modal fade" role="dialog" id="modal_add_menu"
         th:if="${isSysAdmin}">
        <div class="modal-dialog modal-lg" style="width: 50%;">
            <div class="modal-content">
                <form id="form_add_menu">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">メニュー設定</h5>
                    </div>
                    <div class="modal-body">
                        <div id="div_asset_image" class="asset-image">
                            <ul class="form-group upload-image new-upload-icon"
                                style="margin: 0px 10px; height: 160px;">
                                <icon-upload-component ref="icon_menu"></icon-upload-component>
                                <loader-component ref="loader"></loader-component>
                                <modal-create-app-component ref="icon_menu_default"></modal-create-app-component>
                            </ul>
                        </div>
                        <div>
                            <div id="div_title" class="form-group">
                                <label th:text="#{menu.title}"></label>
                                <p class="error-message" v-bind:class="{ hidden : validName}">メニュー名は必須項目です。</p>
                                <p class="error-message"
                                   v-bind:class="{ hidden : validNameLength}">
                                    20文字以内で入力してください。</p>
                                <textarea id="menu_name" name="menu_name" class="form-control"
                                          placeholder="メニュー名を入力してください。"
                                          v-on:blur="validateName(); validateNameLength();"
                                          v-on:key-up="validateName(); validateNameLength();"></textarea>
                            </div>
                            <div class="form-group" id="type_display">
                                <label style="margin-right: 20px;">メニュー表示種類</label>
                                <div style="display: inline-block">
                                    <label class="radio-container"> <span>タイプ１</span> <input
                                            type="radio" name="type_display" id="radio_display_icon"
                                            value="1" checked="checked"> <span class="checkmark"></span>
                                    </label> <label class="radio-container"> <span>タイプ２</span> <input
                                        type="radio" name="type_display" id="radio_display_image"
                                        value="2"> <span class="checkmark"></span>
                                </label> <label class="radio-container"> <span>機能なし</span> <input
                                        type="radio" name="type_display" id="radio_display_none"
                                        value="3"> <span class="checkmark"></span>
                                </label>
                                </div>
                            </div>
                            <div id="div_choose_type_menu">
                                <div class="form-group" id="choose_type_menu">
                                    <label style="margin-right: 20px;"><span>メニュー機能タイプ</span></label>
                                    <div style="display: inline-block">
                                        <label class="radio-container"> <span>アプリ機能</span> <input
                                                type="radio" name="type_function"
                                                id="radio_type_link_function" value="1" checked="checked">
                                            <span class="checkmark"></span>
                                        </label> <label class="radio-container"> <span>Webviewを起動</span>
                                        <input type="radio" name="type_function"
                                               id="radio_type_webview" value="2"> <span
                                                class="checkmark"></span>
                                    </label> <label class="radio-container"> <span>ディープリンク</span>
                                        <input type="radio" name="type_function"
                                               id="radio_type_linkapp" value="3"> <span
                                                class="checkmark"></span>
                                    </label> <label class="radio-container hidden"> <span>コラム</span>
                                        <input type="radio" name="type_function"
                                               id="radio_type_column" value="4"> <span
                                                class="checkmark"></span>
                                    </label>
                                    </div>
                                </div>
                                <div id="option_webview" class="hidden">
                                    <div class="form-group" id="list_type_url">
                                        <label style="margin-right: 20px;">URLタイプ</label>
                                        <div style="display: inline-block">
                                            <label class="radio-container"> <span
                                                    th:text="#{common.link}"></span> <input type="radio"
                                                                                            name="type_url"
                                                                                            id="radio_type_link"
                                                                                            value="1"
                                                                                            checked="checked"> <span
                                                    class="checkmark"></span>
                                            </label> <label class="radio-container"> <span
                                                th:text="#{common.pdf}"></span> <input type="radio"
                                                                                       name="type_url"
                                                                                       id="radio_type_pdf" value="2">
                                            <span
                                                    class="checkmark"></span>
                                        </label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="url_form">
                                        <label th:text="#{menu.link}"></label>
                                        <p class="error-message" v-bind:class="{ hidden : validUrl}">
                                            HTTP/HTTPSを含むリンクを入力してください。</p>
                                        <input type="text" id="menu_url" name="menu_url"
                                               class="form-control" placeholder="遷移先URLを入力してください。"
                                               v-on:blur="validateUrl();" v-on:key-up="validateUrl();">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9"></div>
                                    </div>
                                    <div id="pdf_file_form" class="hidden row"
                                         style="margin-bottom: 20px;">
                                        <label th:text="#{common.file}" class="col-md-3"
                                               id="pdf_file_title"
                                               style="padding-left: 28px; padding-top: 10px;"></label>
                                        <div class="col-md-9">
                                            <p class="error-message" v-bind:class="{ hidden : validPdf}">
                                                PDFファイルをアップロードしてください。</p>
                                            <new-common-pdf-upload-component id="input_pdf"
                                                                             ref="pdf_file_uploader"></new-common-pdf-upload-component>
                                            <div id="has_pdf" class="has-pdf hidden">
                                                <a id="pdf_link"><i
                                                        class="fa fa-file-pdf-o pdf-file-icon"
                                                        style="color: red; font-size: 30px"></i></a> <i
                                                    class="fa fa-times-circle hidden change-current-pdf rem"
                                                    id="add_file_pdf"
                                                    style="right: auto; font-size: 25px; position: absolute;"></i>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group" id="type_open_link">
                                        <label th:text="#{menu.openWith}" style="margin-right: 20px;"></label>
                                        <div style="display: inline-block">
                                            <label class="radio-container"> <span
                                                    th:text="#{system.function.webview}"></span> <input
                                                    type="radio" name="open_with" id="radio_webview" value="1"
                                                    checked="checked"> <span class="checkmark"></span>
                                            </label> <label class="radio-container"> <span
                                                th:text="#{common.browser}"></span> <input type="radio"
                                                                                           name="open_with"
                                                                                           id="radio_link" value="2">
                                            <span
                                                    class="checkmark"></span>
                                        </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row"></div>
                                <div id="option_link_app" class="hidden">
                                    <div class="form-group">
                                        <label>Android リンク</label>
                                        <p class="error-message"
                                           v-bind:class="{ hidden : validUrlAndroid}">
                                            遷移先URLを入力してください。</p>
                                        <p class="error-message"
                                           v-bind:class="{ hidden : validUrlAndroidLength}">
                                            255文字以内で入力してください。</p>
                                        <input type="text" id="url_android" name="url_android"
                                               class="form-control" placeholder="遷移先URLを入力してください。"
                                               v-on:blur="validateUrlAndroid(); validateUrlAndroidLength();"
                                               v-on:key-up="validateUrlAndroid(); validateUrlAndroidLength();">
                                    </div>
                                    <div class="form-group">
                                        <label>Google Play へリンク</label>
                                        <p class="error-message"
                                           v-bind:class="{ hidden : validUrlCHplay}">
                                            遷移先URLを入力してください。</p>
                                        <p class="error-message"
                                           v-bind:class="{ hidden : validUrlCHplayLength}">
                                            255文字以内で入力してください。</p>
                                        <input type="text" id="url_chplay" name="url_chplay"
                                               class="form-control" placeholder="遷移先URLを入力してください。"
                                               v-on:blur="validateUrlCHplay(); validateUrlCHplayLength();"
                                               v-on:key-up="validateUrlCHplay(); validateUrlCHplayLength();">
                                    </div>
                                    <div class="form-group">
                                        <label>iOS リンク</label>
                                        <p class="error-message"
                                           v-bind:class="{ hidden : validUrlIos}">遷移先URLを入力してください。</p>
                                        <p class="error-message"
                                           v-bind:class="{ hidden : validUrlIosLength}">
                                            255文字以内で入力してください。</p>
                                        <input type="text" id="url_ios" name="url_ios"
                                               class="form-control" placeholder="遷移先URLを入力してください。"
                                               v-on:blur="validateUrlIos(); validateUrlIosLength();"
                                               v-on:key-up="validateUrlIos(); validateUrlIosLength();">
                                    </div>
                                    <div class="form-group" id="add_url_appstore">
                                        <label>AppStore ヘリンク</label>
                                        <p class="error-message"
                                           v-bind:class="{ hidden : validUrlAppStore}">
                                            遷移先URLを入力してください。</p>
                                        <p class="error-message"
                                           v-bind:class="{ hidden : validUrlAppStoreLength}">
                                            255文字以内で入力してください。</p>
                                        <input type="text" id="url_app_store" name="url_app_store"
                                               class="form-control" placeholder="遷移先URLを入力してください。"
                                               v-on:blur="validateUrlAppStore(); validateUrlAppStoreLength();"
                                               v-on:key-up="validateUrlAppStore(); validateUrlAppStoreLength();">
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div id="option_link_function">
                                    <div class="form-group">
                                        <label>機能</label> <select class="form-control"
                                                                  id="select_link_function"
                                                                  style="width: 250px; height: 35px !important; margin-left: 30px; display: inline">
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="div_select_version">
                        <label>アプリバーション別のメニュ表示設定</label>
                        <div class="container">
                            <div class="label"><label>IOSメニュー設定　｜　</label><label
                                    class="latest_version_ios"></label></div>
                            <div class="error-message"
                                 v-bind:class="{ hidden : validVersionIos}">
                                バーションは無効です
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <select class=" select_version form-control " id="select_version_ios"
                                            style="height: 35px !important;">
                                        <option value="0">すべて</option>
                                    </select>
                                </div>
                                <div class="from-to">
                                    〜
                                </div>
                                <div class="col-3">
                                    <select class="select_version form-control "
                                            id="select_version_ios_max" style="height: 35px !important;">
                                        <option value="0">すべて</option>
                                    </select>
                                </div>
                                <div class="note">
                                    のバーションでメニューを表示
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="label"><label>Anroidメニュー設定　｜　</label><label
                                    class="latest_version_android"></label></div>
                            <div class="error-message"
                                 v-bind:class="{ hidden : validVersionAndroid}">
                                バーションは無効です
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <select class=" select_version form-control "
                                            id="select_version_android" style="height: 35px !important;">
                                        <option value="0">すべて</option>
                                    </select>
                                </div>
                                <div class="from-to">
                                    〜
                                </div>
                                <div class="col-3">
                                    <select class="select_version form-control "
                                            id="select_version_android_max"
                                            style="height: 35px !important;">
                                        <option value="0">すべて</option>
                                    </select>
                                </div>
                                <div class="note">
                                    のバーションでメニューを表示
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-light"
                                　data-dismiss="modal">キャンセル
                        </button>
                        <button type="button" role="button" data-toggle="modal"
                                data-target="#modal_delete_webview" id="btn_delete_webview"
                                class="btn btn-sm btn-danger delete-btn">削除
                        </button>
                        <button type="button"
                                class="btn btn-sm btn-primary btn-submit-add"
                                v-on:click="addMenu($event)" th:text="#{common.save}">Update
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>
</div>

<div th:fragment="modal_delete_webview">
    <div class="modal fade" id="modal_delete_webview" tabindex="-1"
         role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lineModalLabel">削除</h5>
                </div>
                <div class="modal-body">
                    <div class="message-delete"></div>
                    <h4>削除します。よろしいでしょうか？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm"
                            data-dismiss="modal" role="button" th:text="#{common.cancelBtn}">Cancel
                    </button>
                    <button type="button" style="float: right;"
                            class="btn btn-submit-delete delete-webview btn-primary btn-sm"
                            role="button" th:text="#{common.deleteBtn}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
