<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="i18n_notification" hidden="hidden">
	<div id="success" th:text="#{success}"></div>
	<div id="username_or_password_empty" th:text="#{username_or_password_empty}"></div>
	<div id="password_empty" th:text="#{password_empty}"></div>
	<div id="password_wrong" th:text="#{password_wrong}"></div>
	<div id="username_or_password_wrong" th:text="#{username_or_password_wrong}"></div>
	<div id="email_cannot_null" th:text="#{email_cannot_null}"></div>
	<div id="server_error" th:text="#{server_error}"></div>
	<div id="email_is_invalid" th:text="#{email_is_invalid}"></div>
	<div id="check_email_get_code_set_password" th:text="#{check_email_get_code_set_password}"></div>
	<div id="code_is_incorrect" th:text="#{code_is_incorrect}"></div>
	<div id="password_setted" th:text="#{password_setted}"></div>
	<div id="no_data" th:text="#{no_data}"></div>
	<div id="quesion_delete_company" th:text="#{quesion_delete_company}"></div>
	<div id="delete_company_success" th:text="#{delete_company_success}"></div>
	<div id="delete_company_failed" th:text="#{delete_company_failed}"></div>
	<div id="verify" th:text="#{verify}"></div>
	<div id="not_verify" th:text="#{not_verify}"></div>
	<div id="has_character" th:text="#{has_character}"></div>
	<div id="has_digist" th:text="#{has_digist}"></div>
	<div id="email_is_used" th:text="#{email_is_used}"></div>
	<div id="sub_email_is_used" th:text="#{sub_email_is_used}"></div>
	<div id="add_account_success" th:text="#{add_account_success}"></div>
	<div id="change_account_success" th:text="#{change_account_success}"></div>
	<div id="email_and_sub_email_not_same" th:text="#{email_and_sub_email_not_same}"></div>
	<div id="content_cannot_empty" th:text="#{content_cannot_empty}"></div>
	<div id="time_is_invalid" th:text="#{time_is_invalid}"></div>
	<div id="please_choose_color" th:text="#{please_choose_color}"></div>
	<div id="save_push_notification_arn_success_message" th:text="#{save_push_notification_arn_success_message}"></div>
	</div>





</body>
</html>