<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<script type="text/x-template" id="image_template" th:fragment="image_template">
    <div>
        <p class="error-message" v-bind:class="{ hidden : hasImage}">このこのフィールドは必須です。</p>
        <div class="file-uploader">
            <div class="file-uploader-content" v-bind:class="{ hidden : hasImage}">
                <input type="file" accept=".png, .jpg" class="hidden file-input" :disabled="(prop.isActiveEvent || prop.isOldEvent)"/>
                <i class="fa fa-camera upload-icon"
                   v-bind:class="{ hidden : hasImage } "></i>
                <div class="label-upload-image">写真アップロード</div>
            </div>
            <i class="fa fa-times-circle fa-lg remove-image-icon" v-bind:class="{ hidden : (!hasImage || prop.isActiveEvent || prop.isOldEvent) } "
               v-on:click="removeImage">
            </i>
            <img v-bind:src="prop.reward.image" class="image-preview" v-bind:class="{ hidden : !hasImage}"/>
            <span style="font-size: 12px;">{{prop.reward.name}}</span>
        </div>

    </div>
</script>

<script type="text/x-template" id="image-uploader-event" th:fragment="image-uploader-template">
    <div class="file-uploader">
        <div class="file-uploader-content" v-bind:class="{ hidden : hasImage}">
            <input type="file" accept=".png, .jpg" class="hidden file-input"  :disabled="(prop.isActiveEvent || prop.isOldEvent)"/>
            <i style="margin: 20px 10px 0px 10px" class="fa fa-camera upload-icon"
               v-bind:class="{ hidden : hasFile } "></i>
            <div class="lable-upload-image">写真アップロード</div>
        </div>
        <i class="fa fa-times-circle fa-lg remove-image-icon" v-bind:class="{ hidden : (!hasImage || prop.isActiveEvent || prop.isOldEvent) }"
           v-on:click="removeImage">
        </i>
        <img src="" class="image-preview" v-bind:class="{ hidden : !hasImage}"/>
    </div>
</script>
</body>
</html>