<!DOCTYPE html>
<html>
<head>
	<title>401</title>
</head>
<style>
	.error {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 12px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}
	
</style>
<body>
	<div class="error">
        <div class="error-code m-b-10 m-t-20" >401<i class="fa fa-warning"></i></div>
        <h3 class="font-bold">アクセスが拒否されました</h3>

        <div class="error-desc">
           	 このページにアクセスできません。 <br/>
          		  他のページを開いてみるか下のボタンをクリックしてホームページに戻ります。
            <div>
                <a class=" login-detail-panel-button btn" href="/">
                        <i class="fa fa-arrow-left"></i>
                        		ホームページに戻ります。                      
                    </a>
            </div>
        </div>
    </div>
</body>
</html>