<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org" th:if="${isSysAdmin}" layout:decorate="~{layouts/system_template}"
      th:with="currentPage='change_password'">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="#{title.changePassword}">Change Password</title>

    <script type="text/javascript" src="/libs/jQuery/messages_ja.js"></script>
    <script type="text/javascript" src="/custom/js/change_password.js"></script>


</head>
<body>
<div layout:fragment="content">
    <div th:replace="components :: change_password"></div>
    </div>
</body>
</html>

<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org" th:if="!${isSysAdmin}" layout:decorate="~{layouts/company_template}"
      th:with="currentPage='change_password'">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="#{title.changePassword}">Change Password</title>

    <script type="text/javascript" src="/libs/jQuery/messages_ja.js"></script>
    <script type="text/javascript" src="/custom/js/change_password.js"></script>


</head>
<body>
<div layout:fragment="content">
    <div th:replace="components :: change_password"></div>
    </div>
</body>

</html>

